*{
    font-family: sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold' ;
}
body{
    margin: auto 10vw;
    background-color:#F5F5F5;
}
header{
    background-color: lightblue;
    padding: 10px;
}
nav{
    margin-top: 5px;
    position: sticky;
    top: 0px;
    z-index: 10;
}
nav ul{
    margin: 0;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding: 10px;
}
nav ul ul{
    display: none;
    border-radius: 10px;
    position: absolute;
}
nav ul div:hover > ul{
    display: block;
}
nav ul ul li{
    margin-top: 8px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: white;
}
main{
    width: 100%;
    margin: 5vh auto;
}
input{
    appearance: none;
}
table{
    border-collapse: collapse;
    margin: auto auto;
    width: 60vw;
    background-color: #f5f5f550;
    border-radius: 10px;
}
article,article table{
    display: none;
    opacity: 0;
    position: absolute;
    top: -100%;
}
table,th,td {
    text-align: left;
}
table,td{
    border-left: none;
    border-right: none;
}
td{
    width: 100%;
}
th{
    border-right: 1px solid black;
}
th,td{
    border-bottom: 1px solid black ;
}
tr:last-child th,tr:last-child td{
    border-bottom: none;
}
th,td{
    padding: 10px;
}
h4,h2{
    display: inline-block;
    width: 30vw;
}
section{
    border-radius: 10px;
    margin-bottom: 3vw;
    padding-left: 1vw;
}
section label{
    position: relative;
    left: 45vw;
    cursor: pointer;
}
section input:checked ~ table, section input:checked ~ article{
    display: block;
    position: relative;
    top: 0%;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}
section input + label{
    content: url('../assets/plus.svg');
}
section input:checked + label{
    content: url('../assets/less.svg');
}
